<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajouter Enseignant</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h2 class="mb-0">Ajouter un emprunt</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ form.materiel.id_for_label }}">Matériel:</label>
                            {{ form.materiel }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.possesseur.id_for_label }}">Possesseur:</label>
                            {{ form.possesseur }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.lieu.id_for_label }}">Lieu (Salle):</label>
                            {{ form.lieu }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.objectif_utilisation.id_for_label }}">Objectif d'utilisation:</label>
                            {{ form.objectif_utilisation }}
                        </div>

                        <div class="form-group">
                            <label>Accessoires:</label>
                            <div id="accessoires-container">
                                {% for accessoire in accessoires %}
                                    <div class="form-check">
                                        <input type="checkbox" name="accessoires" value="{{ accessoire.id }}" class="form-check-input" id="accessoire-{{ accessoire.id }}">
                                        <label class="form-check-label" for="accessoire-{{ accessoire.id }}">
                                            {{ accessoire.nom }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>